.card {
  border-radius: 4px;
  height: auto;
  width: 350px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
  height: 100%;
  background:#6CADDC;
}

.card > .img-container > img {
  width: 100%;
}
